<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorowec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a>.  Two web developers who are on a mission to learn.
  </p>
  <br />

  <p>
    Life's a bitch, but you've got to code.
  </p>

  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com"> here</a>
  </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'farouk.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Farouk</h2>
    <br />
    <p>
      Farouk is on a mission to build.  After working in economics, law and finance, what remains?  A dive into the world of coding, to placate those creative juices.
    </p>
    </div>
    <!-- <br class="clear" />  -->

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

